body{
    background-color: beige;
}

#hero{
    width: 1470px;
    height: 550px;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#columna{
    margin: 60px 0;
    color: #6E7172;
}

#columna h4{
    color: black;
    font-weight: bold;
}

#columna i{
    color: #0A6EFF;
    font-size: 40px;
}

#bloques{

}

#bloques img{
    width: 750px;
    height: 450px;
    object-fit: cover;
    
}

#hero2 {
    width: 1470px;
    height: 550px;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#footer{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #7C7B74;
}

#footer i{
    color: #0A6EFF;
    font-size: 20px;
    padding: 0px 10px;
}